*{
    margin: 0;
    padding: 0;
}
.header{
  font-size: 0;
  
}
.header img {
    width: 100%;
    font-size: 1rem; 
    display: inline-block;
    
}
.intro{
  background-color: #ffe6f8;
  height: 70vh;

}
.intro h1{
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  font-size: 70px;
  font-weight: 200;
}
.intro h2{
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.intro p{
  padding-top: 3vh;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.intro-icons{
  text-align: center;
  padding-top: 6vh;
}
/*.yt and .in are problem childs right now*/
.in{
  padding-right: 30px;
}
.homevid{
  background-color: #ebf2ff;
  height: 100vh;

}
.homevid h2{
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.homevidcontainer{
    overflow:hidden;
    margin:auto;
    padding-bottom:35%;
    position:relative;
    height:auto;
    width: 50%;
    z-index: 5;
}
.homevidcontainer iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: absolute;
  z-index: 5;
}
.projects{
  background-color: #fffef2;
  height: 95vh;
  

}
.projects h1{
  text-align: center;
  padding-top: 5vh;
  font-weight: 200;
}
.pContainer{
  padding-top: 10vh;
  padding-left: 8vw;
  padding-right: 8vw;
}
.pContainer h2{
  padding-left: 5vw;
  padding-bottom: 4vh;
  font-size: 30px;
  font-weight: 300;
}
.myProgress {
  background-color: rgb(192, 192, 192);
  width: 60vw;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  
}

.myBar {
  background-color: #ebffeb;
  width: 80%;
  color: black;
  padding: 1%;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
} 
.myProgress2 {
  background-color: rgb(192, 192, 192);
  width: 70vw;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.myBar2 {
  background-color: #ffe6e9;
  width: 50%;
  color: black;
  padding: 1%;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
} 
.myProgress3 {
  background-color: rgb(192, 192, 192);
  width: 80vw;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.myBar3 {
  background-color: #ebf2ff;
  width: 30%;
  color: black;
  padding: 1%;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
} 
.footer{
  background-color: #ffe6e9;
  height: 35vh;
}
.topFooter h2{
  text-align: center;
  font-weight: 200;
  font-family: garamond, 'Times New Roman', serif;
  padding-top: 3vh;
  font-size: 25px;
}
.intro-icons-footer{
  text-align: center;
  padding-top: 3vh;
}
.footerCon{
  padding-top: 3vh;
  padding-left: 15vw;
  padding-right: 15vw;
}
.footerLine{
  overflow: hidden;
  width:68vw;
  height: 2px;
  background-color: gray;
}
.bottomFooter{
  padding-top: 4vh;
  text-align: center;
}
.bottomFooter{
  font-size: 17px;
}
.navbar{
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    font-size: 14px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(29,29,29,.7);
    font-family: montserrat,sans-serif;
    font-weight: 300 !important;
    font-style: normal;
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: block;
    height: 6vh;

}
nav{
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    font-size: 14px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(29,29,29,.7);
    font-family: montserrat,sans-serif;
    font-weight: 300 !important;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 9999;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 21px;
    font-weight: 200;
    font-family: garamond, 'Times New Roman', serif;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
    
}



/*change opacity of rest that are not hovered*/
ul:hover li:not(:hover) a { 
    opacity: .5;
}
  

  /* Hide the link that should open and close the nav.navbar on small screens */
.navbar .icon, .navbar .signature {
    display: none;
  }
  /*stile the habuger menu*/
  .navbar a.icon {
    font-size: 30px;
    color: #000;
    
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the nav.navbar (.icon) */
@media screen and (max-width: 930px) {
    .navbar nav ul li {
        display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
    .navbar a.signature {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar nav ul {
        display: inline-block;
        width: 100%;
    }

    .navbar nav ul a.icon {
        position: absolute;
        right: 5vw;
        top: 20px;
    }
  }
  /*for super small mobile view*/
  @media screen and (max-width: 480px) {
    .homevid{
      background-color: #ebf2ff;
      height: 60vh;
    }
    .intro-icons{
      text-align: center;
      padding-top: 4vh;
    }
    .intro h1{
      padding-top: 6vh;
    }
  }
  /* change navigation bar to mobile nav bar */
  @media screen and (max-width: 930px){
    .navbar{
      height: 70px;
    }
    .header img{
      padding-top: 50px;
    }
    .homevid h2{
      padding-top: 5vh;
      padding-left: 15vw;
      padding-right: 15vw;
      padding-bottom: 5vh;
      text-align: center;
      font-size: 30px;
      font-weight: 200;
    }
    .homevidcontainer{
        overflow:hidden;
        margin:auto;
        padding-bottom:70%;
        position:relative;
        height:auto;
        width: 70%;
    }
    .homevidcontainer iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
    .intro h1{
      padding-top: 6vh;
    }
  }
  /* The "responsive" class is added to the nav.navbar with JavaScript when the user clicks on the icon. This class makes the nav.navbar look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 930px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive nav ul a.icon {
      position: absolute;
      right: 5vw;
      top: 20px;
    }
    .navbar.responsive nav ul li {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .overlay ul li {
    list-style: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .overlay ul li a {
    text-decoration: none;
    color: #333;
    font-size: 40px;
    font-weight: 200;
    font-family: garamond, 'Times New Roman', serif;
    transition: 0.3s;
  }

  .overlay ul {
    margin-top: 15vh;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 99999;
}

.overlay #box {
  background-color: pink;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100px;
  min-height: 100px;
  width: 10vw;
  height: 10vw;
  text-align: center;
}

.overlay #box a {
  font-size: 500%;
  text-decoration: none;
  color: black;
  margin: 0;
  font-family: sans-serif;
}
/*this is for big monitors or screens*/
@media screen and (min-width: 1580px){
  .intro h1{
    padding-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
    font-size: 110px;
    font-weight: 200;
  }
  .intro h2{
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 10px;
    text-align: center;
    font-size: 55px;
    font-weight: 200;
  }
  .intro p{
    padding-top: 3vh;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
    font-size: 32px;
    font-weight: 200;
  }
  .in{
    height: 81;
    width: auto;
  }
  .yt{
    height: 81.8;
    width: auto;
  }
  nav ul{
    padding-top: 1vh;
  }
}
